<!-- <div class="container d-flex justify-content-between">
    <h1><a routerLink = "/" class="text-decoration-none">{{ title }}</a></h1>
    <div class="nav">
      <app-register></app-register>
      <app-login></app-login>
    </div>
  </div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="nav-item h1 text-decoration-none" routerLink="/">Products</a>
    <div class="links">
      <a class="nav-item h2 text-decoration-none mx-3" routerLink="/register"
        >Register</a
      >
      <a class="nav-item h2 text-decoration-none" routerLink="/login">Login</a>
    </div>
  </div>
</nav>
