<div class="container mt-5">
  <form
    class="d-flex flex-column p-5 align-items-center justify-content-center"
    #loginInfo="ngForm"
    (ngSubmit)="loginHandle(loginInfo.value.email, loginInfo.value.pass)"
  >
    <h2>{{ title }}</h2>
    <input
      type="text"
      class="form-control mt-3 w-50"
      id="email"
      aria-describedby="email"
      placeholder="Enter your Email"
      name="email"
      #email="ngModel"
      ngModel
      pattern="(?!.*\.\.)(^[^\.][^@\s]+@[^@\s]+\.[^@\s\.]+$)"
      required
    />
    <span *ngIf="email.touched && !email.valid">
      <small
        class="text-danger"
        *ngIf="email.errors?.required || email.errors?.pattern"
        >*Email field is required, example@example.com</small
      >
    </span>
    <input
      type="password"
      class="form-control w-50 mt-4"
      id="pass"
      placeholder="Enter your Password"
      name="pass"
      #pass="ngModel"
      ngModel
      required
    />
    <span *ngIf="pass.touched && !pass.valid">
      <small class="text-danger" *ngIf="pass.errors?.required"
        >*Password field is required, and must have (A-Z, a-z, 0-9, @,#,-, _,
        &)</small
      >
    </span>
    <button
      type="submit"
      class="btn btn-primary w-50 mt-4"
      [disabled]="!loginInfo.valid"
    >
      Login
    </button>
  </form>
  <p class="text-center">
    <strong
      >Don't have an account ? <a routerLink="/register">Register</a></strong
    >
  </p>
</div>
